In [1]:
#Person will get the lone or not
#Use decision tree classifier to build model
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"D:\Dig\lending_club_data01.csv")
data.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
0,10.65,162.87,3,13648,83.7,9,0,5
1,15.27,59.83,3,1687,9.4,4,1,4
2,15.96,84.33,2,2956,98.5,10,0,4
3,13.49,339.31,10,5598,21.0,37,0,4
4,7.90,156.46,9,7963,28.3,12,0,6

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1468 entries, 0 to 1467
Data columns (total 8 columns):
int_rate       1468 non-null float64
installment    1468 non-null float64
open_acc       1468 non-null int64
revol_bal      1468 non-null int64
revol_util     1468 non-null float64
total_acc      1468 non-null int64
bad_loans      1468 non-null int64
grade_num      1468 non-null int64
dtypes: float64(3), int64(5)
memory usage: 91.9 KB

In [4]:
data.isnull().sum()

int_rate       0
installment    0
open_acc       0
revol_bal      0
revol_util     0
total_acc      0
bad_loans      0
grade_num      0
dtype: int64

In [5]:
data.tail()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num
1463,6.62,377.66,11,10825,16.1,25,0,6
1464,18.64,360.41,2,564,70.5,19,0,2
1465,16.29,494.21,15,24536,71.7,29,0,3
1466,7.90,500.65,4,404,31.1,12,0,6
1467,15.27,208.79,6,760,69.1,19,0,4

In [6]:
#Refering bad_loans column we create good_loans column where we say yes if 0 and no if 1
data['good_loans']=data['bad_loans'].apply(lambda y: 'yes' if y==0 else 'no')

In [9]:
data.head()

,int_rate,installment,open_acc,revol_bal,revol_util,total_acc,bad_loans,grade_num,good_loans
0,10.65,162.87,3,13648,83.7,9,0,5,yes
1,15.27,59.83,3,1687,9.4,4,1,4,no
2,15.96,84.33,2,2956,98.5,10,0,4,yes
3,13.49,339.31,10,5598,21.0,37,0,4,yes
4,7.90,156.46,9,7963,28.3,12,0,6,yes

In [8]:
#For traning --> all columns except bad_loans and good_loans
#For testing --> good loans 

X=data.drop(['bad_loans','good_loans'],1) # which is equal to --> X=data[['int_rate','installment',...]]
y=data['good_loans']

In [10]:
print(X.shape,y.shape)

(1468, 7) (1468,)

In [11]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2)

print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(1174, 7) (294, 7) (1174,) (294,)

In [12]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [13]:
predict = model.predict(X_test)

In [14]:
#Evaluate our model
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predict))
#only 76 are miss classified

[[ 12  37]
 [ 39 206]]

In [15]:
#Result
print(classification_report(y_test,predict))

#This means that our model have the better prediction of good loan

              precision    recall  f1-score   support

          no       0.24      0.24      0.24        49
         yes       0.85      0.84      0.84       245

    accuracy                           0.74       294
   macro avg       0.54      0.54      0.54       294
weighted avg       0.75      0.74      0.74       294

In [16]:
#Check out RANDOM FORSETS
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier(n_estimators=250)

In [17]:
rf_model.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=250,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [18]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(1174, 7) (294, 7) (1174,) (294,)

In [19]:
rf_predict = rf_model.predict(X_test)
print(classification_report(y_test,rf_predict))

              precision    recall  f1-score   support

          no       0.20      0.04      0.07        49
         yes       0.83      0.97      0.90       245

    accuracy                           0.81       294
   macro avg       0.52      0.50      0.48       294
weighted avg       0.73      0.81      0.76       294

In [20]:
print(confusion_matrix(y_test,rf_predict))
#only 63 are miss classified

[[  2  47]
 [  8 237]]

In [ ]:
# HENCE RANDOM FORST DID BETTER THEN DECISION TREE