In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
corona_df=pd.read_csv(r"E:\New folder\COVID19_line_list_data.csv")
corona_df.head(2)

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,...,recovered,symptom,source,link,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,...,0,NaN,Shenzhen Municipal Health Commission,http://wjw.sz.gov.cn/wzx/202001/t20200120_1898...,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,...,0,NaN,Official Weibo of Shanghai Municipal Health Co...,https://www.weibo.com/2372649470/IqogQhgfa?fro...,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
corona_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 27 columns):
id                       1085 non-null int64
case_in_country          888 non-null float64
reporting date           1084 non-null object
Unnamed: 3               0 non-null float64
summary                  1080 non-null object
location                 1085 non-null object
country                  1085 non-null object
gender                   902 non-null object
age                      843 non-null float64
symptom_onset            563 non-null object
If_onset_approximated    560 non-null float64
hosp_visit_date          507 non-null object
exposure_start           128 non-null object
exposure_end             341 non-null object
visiting Wuhan           1085 non-null int64
from Wuhan               1081 non-null float64
death                    1085 non-null object
recovered                1085 non-null object
symptom                  270 non-null object
source                   1085 non-null object
link                     1085 non-null object
Unnamed: 21              0 non-null float64
Unnamed: 22              0 non-null float64
Unnamed: 23              0 non-null float64
Unnamed: 24              0 non-null float64
Unnamed: 25              0 non-null float64
Unnamed: 26              0 non-null float64
dtypes: float64(11), int64(2), object(14)
memory usage: 229.0+ KB

In [4]:
corona_df.shape

(1085, 27)

In [5]:
corona_df.isnull().sum()

id                          0
case_in_country           197
reporting date              1
Unnamed: 3               1085
summary                     5
location                    0
country                     0
gender                    183
age                       242
symptom_onset             522
If_onset_approximated     525
hosp_visit_date           578
exposure_start            957
exposure_end              744
visiting Wuhan              0
from Wuhan                  4
death                       0
recovered                   0
symptom                   815
source                      0
link                        0
Unnamed: 21              1085
Unnamed: 22              1085
Unnamed: 23              1085
Unnamed: 24              1085
Unnamed: 25              1085
Unnamed: 26              1085
dtype: int64

In [6]:
corona_df=corona_df.drop(['link','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26'],axis=1)
corona_df.head()

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,0.0,01/11/20,12/29/2019,01/04/20,1,0.0,0,0,NaN,Shenzhen Municipal Health Commission
1,2,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,0.0,1/15/2020,NaN,01/12/20,0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...
2,3,NaN,1/21/2020,NaN,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,0.0,1/17/2020,NaN,01/03/20,0,1.0,0,0,NaN,Health Commission of Zhejiang Province
3,4,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,NaN,1/19/2020,NaN,NaN,1,0.0,0,0,NaN,人民日报官方微博
4,5,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,NaN,1/14/2020,NaN,NaN,0,0.0,0,0,NaN,人民日报官方微博

In [7]:
corona_df.head()

,id,case_in_country,reporting date,Unnamed: 3,summary,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source
0,1,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,"Shenzhen, Guangdong",China,male,66.0,01/03/20,0.0,01/11/20,12/29/2019,01/04/20,1,0.0,0,0,NaN,Shenzhen Municipal Health Commission
1,2,NaN,1/20/2020,NaN,First confirmed imported COVID-19 pneumonia pa...,Shanghai,China,female,56.0,1/15/2020,0.0,1/15/2020,NaN,01/12/20,0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...
2,3,NaN,1/21/2020,NaN,First confirmed imported cases in Zhejiang: pa...,Zhejiang,China,male,46.0,01/04/20,0.0,1/17/2020,NaN,01/03/20,0,1.0,0,0,NaN,Health Commission of Zhejiang Province
3,4,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,female,60.0,NaN,NaN,1/19/2020,NaN,NaN,1,0.0,0,0,NaN,人民日报官方微博
4,5,NaN,1/21/2020,NaN,new confirmed imported COVID-19 pneumonia in T...,Tianjin,China,male,58.0,NaN,NaN,1/14/2020,NaN,NaN,0,0.0,0,0,NaN,人民日报官方微博

In [8]:
corona_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 20 columns):
id                       1085 non-null int64
case_in_country          888 non-null float64
reporting date           1084 non-null object
Unnamed: 3               0 non-null float64
summary                  1080 non-null object
location                 1085 non-null object
country                  1085 non-null object
gender                   902 non-null object
age                      843 non-null float64
symptom_onset            563 non-null object
If_onset_approximated    560 non-null float64
hosp_visit_date          507 non-null object
exposure_start           128 non-null object
exposure_end             341 non-null object
visiting Wuhan           1085 non-null int64
from Wuhan               1081 non-null float64
death                    1085 non-null object
recovered                1085 non-null object
symptom                  270 non-null object
source                   1085 non-null object
dtypes: float64(5), int64(2), object(13)
memory usage: 169.7+ KB

In [9]:
corona_df=corona_df.drop(['summary','id'],axis=1)
corona_df.head()

,case_in_country,reporting date,Unnamed: 3,location,country,gender,age,symptom_onset,If_onset_approximated,hosp_visit_date,exposure_start,exposure_end,visiting Wuhan,from Wuhan,death,recovered,symptom,source
0,NaN,1/20/2020,NaN,"Shenzhen, Guangdong",China,male,66.0,01/03/20,0.0,01/11/20,12/29/2019,01/04/20,1,0.0,0,0,NaN,Shenzhen Municipal Health Commission
1,NaN,1/20/2020,NaN,Shanghai,China,female,56.0,1/15/2020,0.0,1/15/2020,NaN,01/12/20,0,1.0,0,0,NaN,Official Weibo of Shanghai Municipal Health Co...
2,NaN,1/21/2020,NaN,Zhejiang,China,male,46.0,01/04/20,0.0,1/17/2020,NaN,01/03/20,0,1.0,0,0,NaN,Health Commission of Zhejiang Province
3,NaN,1/21/2020,NaN,Tianjin,China,female,60.0,NaN,NaN,1/19/2020,NaN,NaN,1,0.0,0,0,NaN,人民日报官方微博
4,NaN,1/21/2020,NaN,Tianjin,China,male,58.0,NaN,NaN,1/14/2020,NaN,NaN,0,0.0,0,0,NaN,人民日报官方微博

In [10]:
corona_df=corona_df.drop(['Unnamed: 3','If_onset_approximated','exposure_start','exposure_end','source'],axis=1)
corona_df.head()

,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,visiting Wuhan,from Wuhan,death,recovered,symptom
0,NaN,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,01/11/20,1,0.0,0,0,NaN
1,NaN,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,0,1.0,0,0,NaN
2,NaN,1/21/2020,Zhejiang,China,male,46.0,01/04/20,1/17/2020,0,1.0,0,0,NaN
3,NaN,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,1,0.0,0,0,NaN
4,NaN,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,0,0.0,0,0,NaN

In [11]:
sym=corona_df['symptom'].dropna()
sym.head()

194    feaver, cough, difficult in breathing
195    feaver, cough, difficult in breathing
196                                    fever
236                                    fever
240                                    fever
Name: symptom, dtype: object

In [12]:
corona_df_x=corona_df.drop(['symptom'],axis=1)
corona_df_x.head()

,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,visiting Wuhan,from Wuhan,death,recovered
0,NaN,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,01/11/20,1,0.0,0,0
1,NaN,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,0,1.0,0,0
2,NaN,1/21/2020,Zhejiang,China,male,46.0,01/04/20,1/17/2020,0,1.0,0,0
3,NaN,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,1,0.0,0,0
4,NaN,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,0,0.0,0,0

In [13]:
corona_df_x=pd.concat([corona_df,sym],axis=1)
corona_df_x

,case_in_country,reporting date,location,country,gender,age,symptom_onset,hosp_visit_date,visiting Wuhan,from Wuhan,death,recovered,symptom,symptom
0,NaN,1/20/2020,"Shenzhen, Guangdong",China,male,66.0,01/03/20,01/11/20,1,0.0,0,0,NaN,NaN
1,NaN,1/20/2020,Shanghai,China,female,56.0,1/15/2020,1/15/2020,0,1.0,0,0,NaN,NaN
2,NaN,1/21/2020,Zhejiang,China,male,46.0,01/04/20,1/17/2020,0,1.0,0,0,NaN,NaN
3,NaN,1/21/2020,Tianjin,China,female,60.0,NaN,1/19/2020,1,0.0,0,0,NaN,NaN
4,NaN,1/21/2020,Tianjin,China,male,58.0,NaN,1/14/2020,0,0.0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,2.0,2/25/2020,Innsbruck,Austria,NaN,24.0,NaN,NaN,0,0.0,0,0,NaN,NaN
1081,1.0,2/24/2020,Afghanistan,Afghanistan,NaN,35.0,NaN,NaN,0,0.0,0,0,NaN,NaN
1082,1.0,2/26/2020,Algeria,Algeria,male,NaN,NaN,NaN,0,0.0,0,0,NaN,NaN
1083,1.0,2/25/2020,Croatia,Croatia,male,NaN,NaN,NaN,0,0.0,0,0,NaN,NaN
1084,1.0,2/25/2020,Bern,Switzerland,male,70.0,2/17/2020,NaN,0,0.0,0,0,NaN,NaN

In [14]:
corona_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 13 columns):
case_in_country    888 non-null float64
reporting date     1084 non-null object
location           1085 non-null object
country            1085 non-null object
gender             902 non-null object
age                843 non-null float64
symptom_onset      563 non-null object
hosp_visit_date    507 non-null object
visiting Wuhan     1085 non-null int64
from Wuhan         1081 non-null float64
death              1085 non-null object
recovered          1085 non-null object
symptom            270 non-null object
dtypes: float64(3), int64(1), object(9)
memory usage: 110.3+ KB

In [15]:
corona_df.ipynb.death

AttributeError: 'DataFrame' object has no attribute 'ipynb'