In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
c_df=pd.read_csv(r"E:\New folder\Corona_unofficial.csv")
c_df.head()

,Unnamed: 0,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,...,Chills,Body_Pain,difficut_to_breath,Running_nose,Cold,Abdomain_pain,Vomiting,Sore_throat,Malaise,death
0,0,0,20-01-2020,"Shenzhen, Guangdong",China,male,66,11-01-2020,1,0.0,...,0,1,0,0,1,0,1,0,1,0
1,1,0,20-01-2020,Shanghai,China,female,56,15-01-2020,0,1.0,...,1,0,0,1,0,0,1,1,1,0
2,2,0,21-01-2020,Zhejiang,China,male,46,17-01-2020,0,1.0,...,1,1,1,1,1,0,1,1,0,1
3,3,0,21-01-2020,Tianjin,China,female,60,19-01-2020,1,0.0,...,0,0,1,0,0,1,0,1,0,0
4,4,0,21-01-2020,Tianjin,China,male,58,14-01-2020,0,0.0,...,1,0,1,0,1,1,1,0,0,0

In [3]:
c_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1085 entries, 0 to 1084
Data columns (total 22 columns):
Unnamed: 0            1085 non-null int64
case_in_country       1085 non-null int64
reporting date        1085 non-null object
location              1085 non-null object
country               1085 non-null object
gender                1085 non-null object
age                   1085 non-null int64
hosp_visit_date       507 non-null object
visiting Wuhan        1085 non-null int64
from Wuhan            1081 non-null float64
Feaver                1085 non-null int64
Cough                 1085 non-null int64
Chills                1085 non-null int64
Body_Pain             1085 non-null int64
difficut_to_breath    1085 non-null int64
Running_nose          1085 non-null int64
Cold                  1085 non-null int64
Abdomain_pain         1085 non-null int64
Vomiting              1085 non-null int64
Sore_throat           1085 non-null int64
Malaise               1085 non-null int64
death                 1085 non-null int64
dtypes: float64(1), int64(16), object(5)
memory usage: 186.6+ KB

In [4]:
c_df.isnull().sum()

Unnamed: 0              0
case_in_country         0
reporting date          0
location                0
country                 0
gender                  0
age                     0
hosp_visit_date       578
visiting Wuhan          0
from Wuhan              4
Feaver                  0
Cough                   0
Chills                  0
Body_Pain               0
difficut_to_breath      0
Running_nose            0
Cold                    0
Abdomain_pain           0
Vomiting                0
Sore_throat             0
Malaise                 0
death                   0
dtype: int64

In [5]:
dummies_loc=pd.get_dummies(c_df.location)
dummies_loc

,Afghanistan,Aichi Prefecture,Alappuzha,Algeria,Amiens,Andalusia,Annecy,Araq,Arizona,Baden-Wuerttemberg,...,Wisconsin,"Wuhan, Hubei",Xinjiang,Yau Ma Tei,York,Yunnan,Zabaikalsky,Zaragoza,Zhejiang,Zhuhai
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1081,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1082,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1083,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1084,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
dummies_loc.info

<bound method DataFrame.info of       Afghanistan  Aichi Prefecture  Alappuzha  Algeria  Amiens  Andalusia  \
0               0                 0          0        0       0          0
1               0                 0          0        0       0          0
2               0                 0          0        0       0          0
3               0                 0          0        0       0          0
4               0                 0          0        0       0          0
...           ...               ...        ...      ...     ...        ...
1080            0                 0          0        0       0          0
1081            1                 0          0        0       0          0
1082            0                 0          0        1       0          0
1083            0                 0          0        0       0          0
1084            0                 0          0        0       0          0

      Annecy  Araq  Arizona  Baden-Wuerttemberg  ...  Wisconsin  Wuhan, Hubei  \
0          0     0        0                   0  ...          0             0
1          0     0        0                   0  ...          0             0
2          0     0        0                   0  ...          0             0
3          0     0        0                   0  ...          0             0
4          0     0        0                   0  ...          0             0
...      ...   ...      ...                 ...  ...        ...           ...
1080       0     0        0                   0  ...          0             0
1081       0     0        0                   0  ...          0             0
1082       0     0        0                   0  ...          0             0
1083       0     0        0                   0  ...          0             0
1084       0     0        0                   0  ...          0             0

      Xinjiang  Yau Ma Tei  York  Yunnan  Zabaikalsky  Zaragoza  Zhejiang  \
0            0           0     0       0            0         0         0
1            0           0     0       0            0         0         0
2            0           0     0       0            0         0         1
3            0           0     0       0            0         0         0
4            0           0     0       0            0         0         0
...        ...         ...   ...     ...          ...       ...       ...
1080         0           0     0       0            0         0         0
1081         0           0     0       0            0         0         0
1082         0           0     0       0            0         0         0
1083         0           0     0       0            0         0         0
1084         0           0     0       0            0         0         0

      Zhuhai
0          0
1          0
2          0
3          0
4          0
...      ...
1080       0
1081       0
1082       0
1083       0
1084       0

[1085 rows x 156 columns]>

In [7]:
corona_data=pd.concat([c_df,dummies_loc],axis=1)#Zhuhai
corona_data

,Unnamed: 0,case_in_country,reporting date,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,...,Wisconsin,"Wuhan, Hubei",Xinjiang,Yau Ma Tei,York,Yunnan,Zabaikalsky,Zaragoza,Zhejiang,Zhuhai
0,0,0,20-01-2020,"Shenzhen, Guangdong",China,male,66,11-01-2020,1,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,20-01-2020,Shanghai,China,female,56,15-01-2020,0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,21-01-2020,Zhejiang,China,male,46,17-01-2020,0,1.0,...,0,0,0,0,0,0,0,0,1,0
3,3,0,21-01-2020,Tianjin,China,female,60,19-01-2020,1,0.0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,21-01-2020,Tianjin,China,male,58,14-01-2020,0,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,1080,2,25-02-2020,Innsbruck,Austria,Not-specify,24,NaN,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1081,1081,1,24-02-2020,Afghanistan,Afghanistan,Not-specify,35,NaN,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1082,1082,1,26-02-2020,Algeria,Algeria,male,49,NaN,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1083,1083,1,25-02-2020,Croatia,Croatia,male,49,NaN,0,0.0,...,0,0,0,0,0,0,0,0,0,0
1084,1084,1,25-02-2020,Bern,Switzerland,male,70,NaN,0,0.0,...,0,0,0,0,0,0,0,0,0,0

,Unnamed: 0,case_in_country,location,country,gender,age,hosp_visit_date,visiting Wuhan,from Wuhan,Feaver,...,Wisconsin,"Wuhan, Hubei",Xinjiang,Yau Ma Tei,York,Yunnan,Zabaikalsky,Zaragoza,Zhejiang,Zhuhai
reporting date,,,,,,,,,,,,,,,,,,,,,
20-01-2020,0,0,"Shenzhen, Guangdong",China,male,66,11-01-2020,1,0.0,0,...,0,0,0,0,0,0,0,0,0,0
20-01-2020,1,0,Shanghai,China,female,56,15-01-2020,0,1.0,0,...,0,0,0,0,0,0,0,0,0,0
21-01-2020,2,0,Zhejiang,China,male,46,17-01-2020,0,1.0,0,...,0,0,0,0,0,0,0,0,1,0
21-01-2020,3,0,Tianjin,China,female,60,19-01-2020,1,0.0,1,...,0,0,0,0,0,0,0,0,0,0
21-01-2020,4,0,Tianjin,China,male,58,14-01-2020,0,0.0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25-02-2020,1080,2,Innsbruck,Austria,Not-specify,24,NaN,0,0.0,1,...,0,0,0,0,0,0,0,0,0,0
24-02-2020,1081,1,Afghanistan,Afghanistan,Not-specify,35,NaN,0,0.0,1,...,0,0,0,0,0,0,0,0,0,0
26-02-2020,1082,1,Algeria,Algeria,male,49,NaN,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
25-02-2020,1083,1,Croatia,Croatia,male,49,NaN,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
25-02-2020,1084,1,Bern,Switzerland,male,70,NaN,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
corona_data['Yunnan'].dtype

dtype('uint8')

In [10]:
corona_data=corona_data.drop(['location','Zhuhai'],axis=1)
corona_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1085 entries, 20-01-2020 to 25-02-2020
Columns: 175 entries, Unnamed: 0 to Zhejiang
dtypes: float64(1), int64(16), object(3), uint8(155)
memory usage: 342.2+ KB

In [11]:
dummies_country=pd.get_dummies(c_df.country)
dummies_country

,Afghanistan,Algeria,Australia,Austria,Bahrain,Belgium,Cambodia,Canada,China,Croatia,...,Spain,Sri Lanka,Sweden,Switzerland,Taiwan,Thailand,UAE,UK,USA,Vietnam
0,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1080,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1081,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1082,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1083,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1084,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
corona_data=pd.concat([corona_data,dummies_country],axis=1)
corona_data

In [13]:
corona_data=corona_data.drop(['country','Vietnam'],axis=1)
corona_data.info()
#corona_data=corona_data.drop(['hosp_visit_date','visiting Wuhan','from Wuhan'],axis=1)

<class 'pandas.core.frame.DataFrame'>
Index: 1085 entries, 20-01-2020 to 25-02-2020
Columns: 173 entries, Unnamed: 0 to Zhejiang
dtypes: float64(1), int64(16), object(2), uint8(154)
memory usage: 372.7+ KB

In [14]:
dummies_gender=pd.get_dummies(c_df.gender)
dummies_gender

      Not-specify  female  male
0               0       0     1
1               0       1     0
2               0       0     1
3               0       1     0
4               0       0     1
...           ...     ...   ...
1080            1       0     0
1081            1       0     0
1082            0       0     1
1083            0       0     1
1084            0       0     1

[1085 rows x 3 columns]

In [15]:
corona_data=pd.concat([corona_data,dummies_gender],axis=1)
corona_data

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [16]:
corona_data=corona_data.drop(['gender','Not-specify'],axis=1)
corona_data.info()

KeyError: "['Not-specify'] not found in axis"

In [ ]:
X=corona_data.drop(['death'],axis=1)
y=corona_data['death']

In [ ]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()