In [1]:
#How to represtent text in numeric format
#How to vectorize our dataset & dtmatrix
#Model bling & eval
import numpy as np
import pandas as pd
from sklearn import datasets

iris=datasets.load_iris()

D:\Anaconda\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
D:\Anaconda\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
D:\Anaconda\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
D:\Anaconda\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [3]:
X=iris.data
y=iris.target

In [4]:
print("Shape of X:",X.shape)
print("Shape of y:",y.shape)

Shape of X: (150, 4)
Shape of y: (150,)

In [6]:
iris=pd.DataFrame(X,columns=iris.feature_names)
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [7]:
# 0 can be setosa
# 1 can be versicolor
# 2 can be verginica
print(y)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

In [8]:
# TRAIN TEXT AND CONVER IT INTO NUMBER
#For our Alog to work 
#Step_1:Text should be of number format 
#Step_2:Then it should be of same length

#To do this we will use CountVectorizer

train_text = ['go home tonight','go take a cab','soccer! go play soccer...'] # ignoring punchuations

#The purpose of CountVectorizer is to convert a collection of text document into a matrix of token(words) count

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
vector=CountVectorizer()

In [10]:
#This fit will help to learn the vocabulary of our train_text documnet
vector.fit(train_text)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [13]:
feature_name=vector.get_feature_names()
feature_name

['cab', 'go', 'home', 'play', 'soccer', 'take', 'tonight']

In [14]:
train_text

['go home tonight', 'go take a cab', 'soccer! go play soccer...']

In [15]:
#Difference between feature_name and train_text
#->feature_name is in alphabetical order 
#->feature_name has no duplicate
#->feautre_name has no punchuation mark

In [16]:
#Transfor our document into a documenter_matrix
train_text_dtmatrix = vector.transform(train_text)
train_text_dtmatrix
#Converted into 3x7 matrix........3 rows i.e our sentences and 7 columns i.e our feature_name

<3x7 sparse matrix of type '<class 'numpy.int64'>'
	with 9 stored elements in Compressed Sparse Row format>

In [18]:
mat=train_text_dtmatrix.toarray()
mat

array([[0, 1, 1, 0, 0, 0, 1],
       [1, 1, 0, 0, 0, 1, 0],
       [0, 1, 0, 1, 2, 0, 0]], dtype=int64)

In [19]:
text=pd.DataFrame(mat,columns=feature_name)

In [20]:
text.head()

   cab  go  home  play  soccer  take  tonight
0    0   1     1     0       0     0        1
1    1   1     0     0       0     1        0
2    0   1     0     1       2     0        0

In [21]:
type(train_text_dtmatrix)

scipy.sparse.csr.csr_matrix

In [22]:
#Shows the posiotion of each of the words 
#We dont store 0
print(train_text_dtmatrix)

  (0, 1)	1
  (0, 2)	1
  (0, 6)	1
  (1, 0)	1
  (1, 1)	1
  (1, 5)	1
  (2, 1)	1
  (2, 3)	1
  (2, 4)	2

In [24]:
#Convert this document into document matrix 
test_text=["soccer don't play go"]
test_text_dtmatix = vector.transform(test_text)
test_text_dtmatix

<1x7 sparse matrix of type '<class 'numpy.int64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [27]:
#We use text to train our model
mat2=test_text_dtmatix.toarray()
mat2

array([[0, 1, 0, 1, 1, 0, 0]], dtype=int64)

In [28]:
text2=pd.DataFrame(mat2,columns=feature_name)
text2

   cab  go  home  play  soccer  take  tonight
0    0   1     0     1       1     0        0

In [ ]:
#Spam and Ham                 Ham is not Spam